/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v19-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v19-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v19-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v19-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v19-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v19-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v19-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v19-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v19-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v19-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Poppins", sans-serif; */
}

html {
  background-color: #1A1A29;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 16px;
}

.container {
  max-width: 1105px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
p,
.hero-header,
.hero-main-header,
.header-discription,
.header-nav-link,
.section-about-discription,
.main-btn,
.offer-name {
  color: white;
}

.heading-name {
  font-size: 32px;
  color: #7562E0;
}

.main-btn:hover,
.about-items:hover {
  background-color: #7562E0;
  cursor: pointer;
}

/*!header */
.header {
  background-color: #181824;
  background-size: contain;
  border-bottom: 1px solid black;
}

.header-logo-name {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #7562E0;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
}

.header-nav-item:not(:last-child) {
  padding-right: 43px;
}

.header-nav-link:hover {
  color: #7562E0;
  transition-property: color;
  transition-duration: 370ms;

}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 61px;
}

.header-logo {
  margin: 0;
}

.hero-header {
  font-weight: 600;
}

/*! Hero */
.header-img {
  display: flex;
  align-items: flex-end;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.section-hero {
  background-color: #1A1A29;
  background-size: contain;
  padding: 0;

}

.hero-header {
  padding-top: 240px;
}

.hero-main-header {
  margin-top: 38px;
  font-size: 52px;
}

.header-discription {
  font-size: 18px;
  margin-top: 25px;
}

.info {
  width: 420px;
}

.header-btn {
  display: flex;
  padding-top: 35px;
  padding-bottom: 50px;
}

.main-btn-about {
  margin-right: 32px;
}


.main-btn {
  border: 1px solid #7562E0;
  border-radius: 8px;
  font-size: 16px;
  padding: .5em 2em;
}

.main-btn:hover {
  transform: scale(1.2);
}

/* !About me */
.about-me {
  border-top: 128px solid #181824;
}

.about {
  margin-top: 65px;
}

.section-about-discription {
  padding-top: 30px;
}

.local-description {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.exp-discription {
  font-size: 24px;
  margin-left: 30px;
}

.section-about-discription {
  font-size: 18px;
  line-height: 32px;
  max-width: 1032px;
  word-spacing: 5px;
}

.about-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.about-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 27px;
  padding-bottom: 35px;
  width: 256px;
  height: 254px;
  margin-top: 57px;
  background-color: #BDBDBD;
  
}

.about-items:not(:last-child) {
  padding-right: 16px;
}

.active {
  background-color: #7562E0;
}

.about-name {
  font-size: 24px;
  margin-top: 25px;
}

.about-logo {
  width: 36px;
  height: 35px;
} 
/* !Offer */

.offer-list {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  flex-wrap: wrap;
}
.offer-items {
  border: 3px solid #7562E0;
  max-height: 330px;
  max-width: 336px;
  border-radius: 16px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.offer-items:nth-child(2n){
  border-color: #F5F5F5;
}
.offer-items:not(:nth-child(3n)) {
  margin-right: 30px; 
}
.offer-item-discription {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;
}
.offer-logo {
  width: 56px;
  height: 56px;
}
.offer-discription {
line-height: 28px;
font-size: 17px;
text-align: center;
font-weight: 500;
margin-top: 26px;
margin-left: 20px;
margin-right: 20px;
}
.offer-name {
  padding-top: 23px;
}
.heading-name {
  margin-top: 70px;
}
/* !project */
.projects-discription {
  font-size: 18px;
  margin-top: 30px;
  line-height: 32px;
  padding-right: 140px;
}
.project-list {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
}
.project-item:not(:last-child) {
  margin-right: 17px;
}
.project-item {
  background: #31313F;
  border-radius: 8px;
  width: 343px;
  height: 417px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  flex-direction: column;
}
.project-name {
  color: #7562E0;
}
.container-project-discription {
  margin-top: 25px;
}
.project-name-discription {
  font-family: 'Poppins';
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  width: 303px;
}
.project-btn {
  background-color: #7562E0;
  padding: 12px 25px;
  border-radius: 8px;
  color: white;
}
.container-project-btn {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.project-btn:not(:last-child) {
  margin-right: 25px;
}
/* !Footer */
.footer-container {
  padding-top: 330px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.footer-social-container {
  padding-top: 20px;
}
.footer-copyright {
  font-size: 16px;
  opacity: 50%;
}
.footer-item {
  font-size: 16px;
  opacity: 50%;
}
.footer-list {
  display: flex;
  justify-content: space-between;
}
.footer-item:not(:last-child){
  padding-right: 50px;
}